{% extends "base.html" %}

{% block content %}
    <div>
        <h1> {{ drive_name }} </h1>
        {% if folders| length == 0 %}
            <p>No Folders or files to display</p>
        {% else %}
            <ol>
                {% for folder in folders %}
                    <li>
                        <a href="{{ url_for('media.view_folder_in_drive', drive_name=drive_name,
                     folder_or_file=folder) }}">{{ folder }}</a>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
{% endblock %}
