{% extends 'base.html' %}
{% block content %}

<!-- Form-->
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-header">
        <h1>Change Password</h1>
    </div>
    <div class="form-content">
        <form method=post action="{{ url_for('auth.forgot_password') }}">
            {{ change_password_form.csrf_token }}
            <div class="form-group">
                <label for="email">Email</label>
                {{ change_password_form.email }}
            </div>
            <div class="form-group">
                <label for="password_field_1">Password</label>
                {{ change_password_form.password_field_1 }}
            </div>
            <div class="form-group">
                <label for="password_field_2">Confirm Password</label>
                {{ change_password_form.password_field_1 }}
            </div>
            <div class="form-group">
                {{ change_password_form.change_password_btn }}
            </div>
        </form>
    </div>

</div>
{% endblock %}