{% extends 'base.html' %}
{% block content %}
<!-- Form-->
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-header">
        <h1>Recover Password</h1>
    </div>
    <div class="form-content">
        <form method=post action="{{ url_for('auth.forgot_password') }}">
            {{ recover_password_form.csrf_token }}
            <div class="form-group">
                <label for="email">Email</label>
                {{ recover_password_form.email }}
            </div>
            <div class="form-group">
                {{ recover_password_form.send_mail_btn }}
            </div>
        </form>
    </div>
</div>
{% endblock %}