{% extends 'base.html' %}
{% block content %}
   <div class="form-panel">
        <div class="form-header">
            <h1>Register Account</h1>
        </div>
        <div class="form-content">
            <form name="register-form" method="post" action="{{ url_for('auth.register') }}">
                {{ register_form.csrf_token }}
                {{ register_form.hidden_tag() }}

                <!--First name-->
                <div class="form-group">
                    <label for="full_name">First name</label>
                    {{ register_form.first_name(required_="required") }}
                </div>

                <!--Last name-->
                <div class="form-group">
                    <label for="full_name">Last name</label>
                    {{ register_form.last_name(required_="required") }}
                </div>

                <div class="form-group">
                    <label for="username">Email</label>
                    {{ register_form.email(required_="required") }}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    {{ register_form.password(required_="required") }}
                </div>
                <div class="form-group">
                    <label for="verify_password">Confirm Password</label>
                    {{ register_form.verify_password(required_="required") }}
                </div>
                <div class="form-group">
                    {{ register_form.register_button(class_="register-button") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}